.formContainer{
    background-color: var(--main-bg-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: var(--third-bg-color);
        box-shadow: 0px 3px 40px -20px var(--shadow-color);
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{
            color: var(--main-color);
            font-weight: bold;
            font-size: 24px;
        }

        .title{
            color: var(--main-color);
            font-size: 14px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 15px;
                border: none;
                border-bottom: 1px solid var(--main-color);

                &::placeholder{
                    color: rgb(175,175,175);
                }
            }

            button{
                background-color: var(--main-color);
                color:white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
            button:hover{
                background-color: var(--main-color);
            }

            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: var(--main-color);
                font-size: 12px;
                cursor: pointer;

                img{
                    width: 32px;
                    height: 32px;
                }
            }
        }

        p{
            color: var(--main-color);
            font-size: 12px;
            margin-top: 10px;

            span{
                cursor: pointer;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .err{
            color: red;
        }
    }
}